<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../public/home.css"
    type="text/css">
</head>
<body>
  <div class="heading">
      <span class="title1">BENZING</span>
      <span class="title2">We care's your Investment</span>
      <form method="get" action="/signup">
      <button type="submit" class="signup">SIGNUP
      </button>
      </form>
      <form method="get" action="/login">
      <button type="submit" class="login">
        LOGIN
      </button>
      </form>
    </div>
  </body>
</html>
