<!DOCTYPE html>
	 <html>
   <head>
     <meta charset="UTF-8">
     <title>My page</title>
 </head>
<body>
<table border="1">
	<tr>
		<th>GE</th>
		<td><table border="1">
			<tr>
				<th>symbol</th>
				<td>{{.Symbol.Symbol}}</td>
			</tr>
			<tr>
				<th>dxSymbol</th>
				<td>{{.Symbol.DxSymbol}}</td>
			</tr>
			<tr>
				<th>exchange</th>
				<td>{{.Symbol.Exchange}}</td>
			</tr>
			<tr>
				<th>isoExchange</th>
				<td>{{.Symbol.IsoExchange}}</td>
			</tr>
			<tr>
				<th>bzExchange</th>
				<td>{{.Symbol.BzExchange }}</td>
			</tr>
			<tr>
				<th>type</th>
				<td>{{.Symbol.Type}}</td>
			</tr>
			<tr>
				<th>name</th>
				<td>{{.Symbol.Name}}</td>
			</tr>
			<tr>
				<th>description</th>
				<td>{{.Symbol.Description}}</td>
			</tr>
			<tr>
				<th>sector</th>
				<td>{{.Symbol.Sector}}</td>
			</tr>
			<tr>
				<th>industry</th>
				<td>{{.Symbol.Industry}}</td>
			</tr>
			<tr>
				<th>open</th>
				<td>{{.Symbol.Open}}</td>
			</tr>
			<tr>
				<th>high</th>
				<td>{{.Symbol.High}}</td>
			</tr>
			<tr>
				<th>low</th>
				<td>{{.Symbol.Low}}</td>
			</tr>
			<tr>
				<th>bidPrice</th>
				<td>{{.Symbol.BidPrice }}</td>
			</tr>
			<tr>
				<th>askPrice</th>
				<td>{{.Symbol.AskPrice }}</td>
			</tr>
			<tr>
				<th>askSize</th>
				<td>{{.Symbol.AskSize}}</td>
			</tr>
			<tr>
				<th>bidSize</th>
				<td>{{.Symbol.BidSize}}</td>
			</tr>
			<tr>
				<th>size</th>
				<td>{{.Symbol.Size}}</td>
			</tr>
			<tr>
				<th>bidTime</th>
				<td>{{.Symbol.BidTime}}</td>
			</tr>
			<tr>
				<th>askTime</th>
				<td>{{.Symbol.AskTime}}</td>
			</tr>
			<tr>
				<th>lastTradePrice</th>
				<td>{{.Symbol.LastTradePrice}}</td>
			</tr>
			<tr>
				<th>lastTradeTime</th>
				<td>{{.Symbol.LastTradeTime}}</td>
			</tr>
			<tr>
				<th>volume</th>
				<td>{{.Symbol.Volume}}</td>
			</tr>
			<tr>
				<th>change</th>
				<td>{{.Symbol.Change}}</td>
			</tr>
			<tr>
				<th>changePercent</th>
				<td>{{.Symbol.ChangePercent}}</td>
			</tr>
			<tr>
				<th>previousClosePrice</th>
				<td>{{.Symbol.PreviousClosePrice }}</td>
			</tr>
			<tr>
				<th>fiftyDayAveragePrice</th>
				<td>{{.Symbol.FiftyDayAveragePrice}}</td>
			</tr>
			<tr>
				<th>fiftyTwoWeekHigh</th>
				<td>{{.Symbol.FiftyTwoWeekHigh}}</td>
			</tr>
			<tr>
				<th>fiftyTwoWeekLow</th>
				<td>{{.Symbol.FiftyTwoWeekLow}}</td>
			</tr>
			<tr>
				<th>marketCap</th>
				<td>{{.Symbol.MarketCap}}</td>
			</tr>
			<tr>
				<th>sharesOutstanding</th>
				<td>{{.Symbol.SharesOutstanding}}</td>
			</tr>
			<tr>
				<th>pe</th>
				<td>{{.Symbol.Pe	}}</td>
			</tr>
			<tr>
				<th>forwardPE</th>
				<td>{{.Symbol.ForwardPE}}</td>
			</tr>
			<tr>
				<th>dividendYield</th>
				<td>{{.Symbol.DividendYield}}</td>
			</tr>
			<tr>
				<th>payoutRatio</th>
				<td>{{.Symbol.PayoutRatio}}</td>
			</tr>
			</table>
	</td>
</tr>
</table>
</body>
</html>
