<!DOCTYPE html>
	 <html>
   <head>
     <meta charset="UTF-8">
     <title>My page</title>
   </head>
   <body>
  	 <ul>
	 {{range .}}
	   <li>{{.s.Symbol.Symbol}}</li>
	  <li>{{.s.Symbol.DxSymbol}}</li>
		 <li>{{.s.Symbol.Exchange}}</li>
		  <li>{{.s.Symbol.IsoExchange}}</li>
			 <li>{{.s.Symbol.BzExchange }}</li>
			  <li>{{.s.Symbol.Sector}}</li>
				<li>{{.s.Symbol.Name}}</li>
				<li>{{.s.Symbol.Description}}</li>
				 <li>{{.s.Symbol.Industry}}</li>
					<li>{{.s.Symbol.Open}}</li>
					 <li>{{.s.Symbol.High}}</li>
						<li>{{.s.Symbol.Low}}</li>
						 <li>{{.s.Symbol.BidPrice }}</li>
						 <li>{{.s.Symbol.AskPrice }}</li>
						 <li>{{.s.Symbol.AskSize}}</li>
						 <li>{{.s.Symbol.BidSize}}</li>
							<li>{{.s.Symbol.Size}}</li>
							 <li>{{.s.Symbol.BidTime}}</li>
								<li>{{.s.Symbol.AskTime}}</li>
								 <li>{{.s.Symbol.LastTradePrice}}</li>
								 <li>{{.s.Symbol.LastTradeTime}}</li>
								 <li>{{.s.Symbol.Volume}}</li>
									<li>{{.s.Symbol.Change}}</li>
									 <li>{{.s.Symbol.ChangePercent}}</li>
										<li>{{.s.Symbol.PreviousClosePrice }}</li>
										<li>{{.s.Symbol.FiftyDayAveragePrice}}</li>
										<li>{{.s.Symbol.FiftyTwoWeekHigh}}</li>
										<li>{{.s.Symbol.FiftyTwoWeekLow}}</li>
										 <li>{{.s.Symbol.MarketCap}}</li>
											<li>{{.s.Symbol.SharesOutstanding}}</li>
											 <li>{{.s.Symbol.Pe	}}</li>
												<li>{{.s.Symbol.DividendYielde}}</li>
												<li>{{.s.Symbol.PayoutRatio}}</li>
												<li>{{.s.Symbol.ForwardPE}}</li?

	 {{end}}
	 </ul>
   </body>
	 </html>
