<!DOCTYPE html>
<html>
	<head>
		<title>JSON To HTML</title>
		</head>
		<body>
			<table border=1>
				<thead>
					<tr>
						<th>symbol</th>
						<th>dxSymbol</th>
						<th>exchange</th>
						<th>isoExchange</th>
						<th>bzExchange</th>
						<th>type</th>
						<th>name</th>
						<th>description</th>
						<th>sector</th>
						<th>industry</th>
						<th>open</th>
						<th>high</th>
						<th>low</th>
						<th>bidPrice</th>
						<th>askPrice</th>
						<th>askSize</th>
						<th>bidSize</th>
						<th>size</th>
						<th>bidTime</th>
						<th>askTime</th>
						<th>lastTradePrice</th>
						<th>lastTradeTime</th>
						<th>volume</th>
						<th>change</th>
						<th>changePercent</th>
						<th>previousClosePrice</th>
						<th>fiftyDayAveragePrice</th>
						<th>fiftyTwoWeekHigh</th>
						<th>fiftyTwoWeekLow</th>
						<th>marketCap</th>
						<th>sharesOutstanding</th>
						<th>pe</th>
						<th>forwardPE</th>
						<th>dividendYield</th>
						<th>payoutRatio</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>F</td>
						<td>F</td>
						<td>XNYS</td>
						<td>XNYS</td>
						<td>NYSE</td>
						<td>STOCK</td>
						<td>Ford Motor</td>
						<td>Ford Motor Company Common Stock</td>
						<td>Consumer Cyclical</td>
						<td>Auto Manufacturers</td>
						<td>10.98</td>
						<td>11.02</td>
						<td>10.93</td>
						<td>10.96</td>
						<td>10.97</td>
						<td>418</td>
						<td>1171</td>
						<td>100</td>
						<td>1501693084000</td>
						<td>1501693082000</td>
						<td>10.96</td>
						<td>1501693079000</td>
						<td>15218606</td>
						<td>0.01</td>
						<td>0.09</td>
						<td>10.95</td>
						<td>11.2564</td>
						<td>13.27</td>
						<td>10.67</td>
						<td>44384620000</td>
						<td>4046000000</td>
						<td>11.829787</td>
						<td>7.2046</td>
						<td>5.4</td>
						<td>63.83</td>
					</tr>
				</tbody>
			</table>
		</body>
	</html>
