<!DOCTYPE html>
<html>
	<head>
		<title>JSON To HTML</title>
		</head>
		<body>
			<table border=1>
				<thead>
					<tr>
						<th>symbol:{{.s.Symbol.Symbol}}</th>
						<th>dxSymbol</th>
						<th>exchange</th>
						<th>isoExchange</th>
						<th>bzExchange</th>
						<th>type</th>
						<th>name</th>
						<th>description</th>
						<th>sector</th>
						<th>industry</th>
						<th>open</th>
						<th>high</th>
						<th>low</th>
						<th>bidPrice</th>
						<th>askPrice</th>
						<th>askSize</th>
						<th>bidSize</th>
						<th>size</th>
						<th>bidTime</th>
						<th>askTime</th>
						<th>lastTradePrice</th>
						<th>lastTradeTime</th>
						<th>volume</th>
						<th>change</th>
						<th>changePercent</th>
						<th>previousClosePrice</th>
						<th>fiftyDayAveragePrice</th>
						<th>fiftyTwoWeekHigh</th>
						<th>fiftyTwoWeekLow</th>
						<th>marketCap</th>
						<th>sharesOutstanding</th>
						<th>pe</th>
						<th>forwardPE</th>
						<th>dividendYield</th>
						<th>payoutRatio</th>
					</tr>
				</thead>
			</table>
		</body>
	</html>
