<html>
<head>
  <title>Stock Exchange</title>
  <link rel="stylesheet" href="../public/search.css" />
  <script type="text/javascript">
  </script>

</head>
  <body>
    <td><table border="1">
      <tr>
        <th>User</th>
        <td>{{.databaseUsername}}</td>
      </tr>
      <tr>
        <th>cash</th>
        <td>$100,000</td>
      </tr>
    </td>
    <div class="search">
        <form Method="GET" action="/json?symbol=">
          <input type="submit" id="searchBtn" value="GO..!" /><input type="text" id="searchBar" name="symbol" placeholder="Enter symbol..." />
            </form>
    </div>
  </body>
</html>
