<html>
<head>
  <title>Stock Exchange</title>
  <link rel="stylesheet" href="search.css" />
  <script type="text/javascript">
  </script>

</head>
  <body>
    <div class="search">
        <form action="http://careers-data.benzinga.com/rest/richquoteDelayed?symbols=F">
          <input type="submit" id="searchBtn" value="GO..!" /><input type="text" id="searchBar" name="symbols" placeholder="Enter symbol..." />
            </form>
    </div>
    <div class="container">
        <form >
          <input type="User" id="User" name="symbols" placeholder="User.." /><input type="submit" id="UserBtn" value="Login" />
        </form>
      </div>
  </body>
</html>
