
body{
  background-image :url('stm.jpg');
  background-size: cover;

}
.heading{
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top:0px;bottom: 0px;right: 0px;left:0px;
}
.heading input[type="submit"]{
  width:200px;
  height: 30px;
  border:0;
  border-radius: 5px;
  background-color: blue;
  font-weight: bolder;
}
.title1{
    display: block;
    text-align: center;
    color: white;
    font-size: 60pt;
    font-family:big john;
}
.title2{
    display: block;
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 14pt;
    font-family: serif;
}
.signup{
    margin:50px auto;
    display:block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-colour 1000ms, color 1000ms;
}
.signup:hover{
  background-color: rgb(255, 255, 255,1);
  color:#222;
  cursor: pointer;

  transition: background-colour 1000ms, color 1000ms;

}
.login{
    margin:50px auto;
    display:block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-colour 1000ms, color 1000ms;
}
.login:hover{
  background-color: rgb(255, 255, 255,1);
  color:#222;
  cursor: pointer;

  transition: background-colour 1000ms, color 1000ms;

}
