<html>
<head>
  <title>T2 template</title>
</head>
<body>
  {{ . }}
  Hi, I am learning {{ . }}
</body>
</html>
<li>{{.Symbol.DxSymbol}}</li>
<li>{{.Symbol.Exchange}}</li>
<li>{{.Symbol.IsoExchange}}</li>
<li>{{.Symbol.BzExchange }}</li>
<li>{{.Symbol.Sector}}</li>
<li>{{.Symbol.Name}}</li>
<li>{{.Symbol.Description}}</li>
<li>{{.Symbol.Industry}}</li>
<li>{{.Symbol.Open}}</li>
					 <li>{{.Symbol.High}}</li>
						<li>{{.Symbol.Low}}</li>
						 <li>{{.Symbol.BidPrice }}</li>
						 <li>{{.Symbol.AskPrice }}</li>
						 <li>{{.Symbol.AskSize}}</li>
						 <li>{{.Symbol.BidSize}}</li>
							<li>{{.Symbol.Size}}</li>
							 <li>{{.Symbol.BidTime}}</li>
								<li>{{.Symbol.AskTime}}</li>
								 <li>{{.Symbol.LastTradePrice}}</li>
								 <li>{{.Symbol.LastTradeTime}}</li>
								 <li>{{.Symbol.Volume}}</li>
									<li>{{.Symbol.Change}}</li>
									 <li>{{.Symbol.ChangePercent}}</li>
										<li>{{.Symbol.PreviousClosePrice }}</li>
										<li>{{.Symbol.FiftyDayAveragePrice}}</li>
										<li>{{.Symbol.FiftyTwoWeekHigh}}</li>
										<li>{{.Symbol.FiftyTwoWeekLow}}</li>
										 <li>{{.Symbol.MarketCap}}</li>
											<li>{{.Symbol.SharesOutstanding}}</li>
											 <li>{{.Symbol.Pe	}}</li>
												<li>{{.Symbol.DividendYielde}}</li>
												<li>{{.Symbol.PayoutRatio}}</li>
												<li>{{.Symbol.ForwardPE}}</li?
